.vscode/settings.json
hawkes_ogata_int.png
hawkes_ogata.png
Poisson_hom.png
Poisson_inhom.png
Reject_sampl.png
hawkes_second_method.png
WF_simple.png
img/WF_imm.png
hawkes_and_X.png
hawkes_and_OU.png
img/OU_imm.png
img/explo_prb_crit.png
img/explo_prb_esp.png
Reject_sampl_vide.png
img/explo_prb_esplog.png
img/explo_prb_log.png
img/Non_explo_prb_esp.png
img/Non_explo_prb_esp2.png
img/Non_explo_prb_log.png
img/Non_explo_prb_log2.png
img/Non_explo_prb.png
hawkes_and_WF.png
hawkes_ogata_int_vide.png
